<!-- fixed-top -->
<nav>
  <div class="container-fluid navbar fixed-top navbar-expand-sm navbar-light bg-light height">
      <a class="navbar-brand" href="index.html"><img src="assets/images/logo.jpg" alt="logo" width="60"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse bg-light text-center" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/about-us">About us</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/menu">Menu</a>
              </li>
        </ul>
          <ul class="navbar-nav d-flex flex-grow-1 justify-content-end">
            <ng-template [ngIf]="counter > 0">
              <li class="nav-item bg-danger bg-opacity-10 rounded-3">
                <a class="nav-link cart" routerLink="/order"><i class="fad fa-shopping-cart"></i><span class="">{{counter}}</span> ({{ total  | currency:"€"}})</a>
              </li>
            </ng-template>
            <li class="nav-item">
                <a class="nav-link" routerLink="/reviews">Reviews</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact">Contact</a>
            </li>
            <!-- <li class="nav-item nav-pills me-2">
                  <a class="nav-link active bg-gradient" data-bs-toggle="modal" data-bs-target="#deliverModal" href="javascript:Login();">Login</a>
              </li> -->
          </ul>
      </div>
  </div>
  <!-- because of fixed position, this gives the following html the right position -->
  <div class="height"></div>
</nav>
