.height {
  height: 80px;
}
i {
  font-size: x-large;
}
span {
  font-size: small;
  background-color: green;
  align-self: center;
  border-radius: 50%;
  padding-inline: 6px;
  padding-bottom: 2px;
  display: inline-block;
  color: white;
}

// .cart {
//   background-color: aquamarine;
// }
